<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134526450-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-134526450-1');
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="Rate your favorite porn and find the best porn for you. By tags having a note, you can find the perfect video for your current needs.">
  <meta name="author" content="Mafraxxx">
  <meta name="google-site-verification" content="ZWyuO2r6_GA9veJtVius5cefkkxAxlNgclMLUs_cbWo" />
  <title>Rate Your Porn - Rate your favorite porn and find the best porn for you</title>
  <!-- Favicon -->
  <link href="/argon/assets/img/icons/common/favicon (5).png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="/argon/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="/argon/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="/argon/assets/css/argon.css?v=1.0.0" rel="stylesheet">
  <!-- Docs CSS -->
  <link type="text/css" href="/argon/assets/css/docs.min.css" rel="stylesheet">
</head>

<body style="background-image:linear-gradient(to right, rgb(90,64,171), rgb(215,130,217));" onload="initializeSliders()">
  <!--<body style="background-image: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);" >-->


  <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-danger rounded" style="position: sticky; top: 0px;">
    <div class="container">
      <a class="navbar-brand" href="/">Menu</a>
      <a class="navbar-brand" href="/signup">Signup</a>
      <a class="navbar-brand" href="/signin">Sign in</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-inner-primary"
        aria-controls="nav-inner-primary" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav-inner-primary">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="./index.html">
                <img src="/argon/assets/img/brand/blue.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-inner-primary"
                aria-controls="nav-inner-primary" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link" href="/aboutus">About us
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <main>


    <div class="container-fluid">
      <div class="d-flex flex-row flex-wrap" id="mainFrame1">


        <div class="row">

          <div class="" style="border: solid; overflow: scroll ">
            <ol>
              <% tags.forEach(function(tag) { %>
              <li onclick="moveTosearchBlock('<%= tag.tag.properties.tagName %>', null)" style="color: aliceblue"><%= tag.tag.properties.tagName %></li>
              <% }); %>
            </ol>
          </div>

          <div>
          
              <div class="andBlock" style="border: solid; overflow: scroll " id="defaultBlock">
                  <ol class="defaultCriterionContainer">
    
                  </ol>
                </div>


              <%if (video!==null) { %>
              <% Object.keys(video).forEach(function(key) { %>
              <%- include('./partials/frame', {video: video[key], helper: helper}); %>
              <% }); %>
              <% } %>


        </div>
        </div>

      </div>

    </div>




  </main>
  <footer class="footer has-cards">

    <div class="container">
      <div class="row row-grid align-items-center my-md">
      </div>
      <hr>
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">

            <li class="nav-item">
              <a href="/aboutus" class="nav-link" target="_blank">About Us</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link" target="_blank">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- Core -->
  <script src="/argon/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/argon/assets/vendor/popper/popper.min.js"></script>
  <script src="/argon/assets/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="/argon/assets/vendor/headroom/headroom.min.js"></script>
  <!-- Optional JS -->
  <script src="/argon/assets/vendor/onscreen/onscreen.min.js"></script>
  <script src="/argon/assets/vendor/nouislider/js/nouislider.min.js"></script>
  <script src="/argon/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
  <!-- Argon JS -->
  <script src="/argon/assets/js/argon.js?v=1.0.0"></script>
  <script src="/argon/assets/js/criterion.js"></script>
  <script src="/argon/assets/js/advancedCriterion.js"></script>
  <!-- <script src="/argon/assets/js/expand.js"></script>
  <script src="/argon/assets/js/search.js"></script>
  <script src="/argon/assets/js/asynchronous.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/argon/assets/js/examples.js"></script>
  <script src="/argon/assets/js/utils.js"></script>
  <script src="/argon/assets/js/listbox-combobox.js"></script>
  <script src="/argon/assets/js/listbox-combo-example.js"></script>
  <script src="/argon/assets/js/sortPage.js"></script> -->
  <script src="/argon/assets/js/buildFrames.js"></script>
  <script src="/argon/assets/js/clientEvents.js"></script>
  <!-- <div class="modal-backdrop fade show"></div> -->


</body>

</html>