<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with a Design System for Bootstrap 4.">
  <meta name="author" content="Creative Tim">
  <title>Argon Design System - Free Design System for Bootstrap 4</title>
  <!-- Favicon -->
  <link href="argon/assets/img/brand/favicon.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="argon/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="argon/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="argon/assets/css/argon.css?v=1.0.0" rel="stylesheet">
  <!-- Docs CSS -->
  <link type="text/css" href="argon/assets/css/docs.min.css" rel="stylesheet">
</head>

<body style="background-image:linear-gradient(to right, rgb(90,64,171), rgb(215,130,217));">
    <!--<body style="background-image: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);" >-->
  <header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light">

    </nav>
  </header>
  <main>
    <!-- <div class="position-relative"> -->

      <section class="section-hero section-shaped my-0">
        <!-- <section class="section-shaped my-0"> -->
        <div class="shape shape-style-1 shape-primary">
        </div>
        <div class="container shape-container d-flex align-items-center">
          <div class="col px-0">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-7 text-center pt-lg">
                <img src="argon/assets/img/brand/Image6.png" class="img-fluid" >
              </div>
            </div>
            <div class="row align-items-center justify-content-around stars-and-coded">
            </div>
          </div>
        </div>
      </section>
    <!-- </div> -->

    <!-- <section class="section-shaped my-0"> -->
      <div class="shape shape-style-1 shape-primary">
      </div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-danger rounded">
        <div class="container">
          <a class="navbar-brand" href="/">Menu</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-inner-primary" aria-controls="nav-inner-primary"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="nav-inner-primary">
            <div class="navbar-collapse-header">
              <div class="row">
                <div class="col-6 collapse-brand">
                  <a href="./index.html">
                    <img src="argon/assets/img/brand/blue.png">
                  </a>
                </div>
                <div class="col-6 collapse-close">
                  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-inner-primary" aria-controls="nav-inner-primary"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                  </button>
                </div>
              </div>
            </div>
            <ul class="navbar-nav ml-lg-auto">
              <li class="nav-item">
                <a class="nav-link" href="/aboutus">About us
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </li> -->
              <!-- <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="nav-inner-primary_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">Settings</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="nav-inner-primary_dropdown_1">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>


      <div class="row justify-content-center" style="margin-right: 10px; padding-top: 3px;">

<div class="col-4">
  
  <!-- <div style="background-image: linear-gradient(to top,rgb(255, 224, 237),rgb(252, 151, 218))">
    TTTTTTURRRRRRRRRRRRR
  </div> -->
    

    <!-- <div class="input-group"> -->
          <!-- <span class="badge badge-primary badge-pill text-uppercase " >
            <span style="display: table-cell; vertical-align: middle;">Order by:</span>
          </span> -->
      
      <input list="myDatalist" class="form-control" id="monselect" placeholder="Order by:">
      <datalist id="myDatalist">
          <option selected>----</option> 
          <option>date</option>
          <option>Number of votes</option>
      </datalist> 



      <!-- </div> -->


      
</div>



        <div class="col-4">

          <form method="post" action="/upload" id="uploadForm">
            <div class="input-group">
              <input type="text" placeholder="Link" class="form-control" name="field2" id="field2" data-toggle="tooltip" data-placement="top" title="Here you can upload a link to a page that contains an actual porn video (we will search for the first iframe in that page) from any website" />
              <span class="input-group-btn"   id="uploadTooltip">
                  <!-- tabindex="-1" -->
                <!-- If button type = button modal works fine but data nt imported -->
                <button type="button" class="btn btn-block btn-primary mb-3" data-toggle="modal" data-target="#modal-default"  id="poke" onclick="launchCrawl()" disabled>
                  UPLOAD LINK
                </button>
              </span>
            </div>
          </form>


          <!-- Modal -->
          <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
            <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title" id="modal-defaultLabel">Modal title</h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                  </button>
                </div>
                <div class="modal-body" id="modal-body">
                  <IMG SRC="argon/assets/img/icons/common/Spinner-1s-97px.gif">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal" id="closeModalButton">Close</button>
                  <button type="button" class="btn btn-primary" id="modalSaveButton">Save changes</button>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-4">

            <!-- https://www.w3.org/TR/wai-aria-practices/examples/combobox/aria1.1pattern/listbox-combo.html -->
          <div id="ex1">
            <div class="combobox-wrapper">
              <div role="combobox" aria-expanded="false" aria-owns="ex1-listbox" aria-haspopup="listbox" id="ex1-combobox0">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" aria-autocomplete="list" aria-controls="ex1-listbox" id="ex1-input0" class="form-control" placeholder="Add a search criterion" data-toggle="tooltip" data-placement="top" title="Here you can add as many search criterii as you want. Each criterion can be searched with a lower and higher value. Use this to find your perfect porn video">
                    <span class="input-group-btn">
                      <button type="button" id="mainSearchButton" value="Edit" class="btn btn-block btn-primary" onclick="addSearchCriterion()" aria-controls="nav-inner-primary"
                        aria-expanded="false" aria-label="Toggle navigation" >
                        <span class="btn-inner--icon"> 
                          <i class="ni ni-zoom-split-in"></i>
                        </span>
                      </button>
                      </span>
                  </div>
                </div>
              </div>
              <ul aria-labelledby="ex1-label" role="listbox" id="ex1-listbox0" class="listbox hidden" style="z-index: 2000; overflow: auto; max-height: 80vh;">
              </ul>
              <button type="button" data-toggle="collapse" data-target="#searchCell" aria-controls="nav-inner-primary" aria-expanded="false" aria-label="Toggle navigation"
                style="display: none;width: 100%; height: 20px; margin-top: 0px; margin-bottom: 2px;" class="btn btn-sm btn-primary" id="collapseSearchButton">
                <span class="navbar-toggler-icon">
                  <span class="btn-inner--icon">
                    <i class="ni ni-bold-down"></i>
                  </span>
                </span>
              </button>
            
              
              <div id="searchCell" class="collapse" style="max-height: 50vh;border: rgb(19, 161, 243); border-width: 2px; border-style: ridge; border-radius: 0.9vh; background-color: rgb(175, 213, 238);position: absolute; width: 100%; z-index: 1000;">
                <div id="searchCellContainer">
                </div>
                
                <button class="btn btn-sm btn-primary" style="width: 100%;margin-bottom: 5px;border-style: ridge; border-radius: 0.9vh;" id="validateSearchButton">Validate</button>
            </div>
            
            </div>



          </div>



        </div>


      </div>


    <!-- <div class="combobox-wrapper">
        <div role="combobox" aria-expanded="true" aria-owns="ex1-listbox" aria-haspopup="listbox" id="ex1-combobox">
          <input type="text" aria-autocomplete="list" aria-controls="ex1-listbox" id="ex1-input" aria-activedescendant="">
        </div>
        <ul aria-labelledby="ex1-label" role="listbox" id="ex1-listbox" class="listbox"><li class="result" role="option" id="result-item-0">Okra</li><li class="result" role="option" id="result-item-1">Olive</li><li class="result" role="option" id="result-item-2">Onion</li><li class="result" role="option" id="result-item-3">Orange</li></ul>
      </div> -->


      <div class="container-fluid">
        <div class="d-flex flex-row flex-wrap" id="mainFrame1">



        </div>
      </div>
    </section>

  </main>
  <footer class="footer has-cards">

      <div class="container">
        <div class="row row-grid align-items-center my-md">
        </div>
        <hr>
        <div class="row align-items-center justify-content-md-between">
          <div class="col-md-6">
    
          </div>
          <div class="col-md-6">
            <ul class="nav nav-footer justify-content-end">
  
              <li class="nav-item">
                <a href="/aboutus" class="nav-link" target="_blank">About Us</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" target="_blank">Blog</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  <!-- Core -->
  <script src="argon/assets/vendor/jquery/jquery.min.js"></script>
  <script src="argon/assets/vendor/popper/popper.min.js"></script>
  <script src="argon/assets/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="argon/assets/vendor/headroom/headroom.min.js"></script>
  <!-- Optional JS -->
  <script src="argon/assets/vendor/onscreen/onscreen.min.js"></script>
  <script src="argon/assets/vendor/nouislider/js/nouislider.min.js"></script>
  <script src="argon/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
  <!-- Argon JS -->
  <script src="argon/assets/js/argon.js?v=1.0.0"></script>
  <script src="argon/assets/js/expand.js"></script>
  <script src="argon/assets/js/search.js"></script>
  <script src="argon/assets/js/criterion.js"></script>
  <script src="argon/assets/js/crawl.js"></script>
  <script src="argon/assets/js/asynchronous.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="argon/assets/js/clientEvents.js"></script>
  <script src="argon/assets/js/examples.js"></script>
  <script src="argon/assets/js/utils.js"></script>
  <script src="argon/assets/js/listbox-combobox.js"></script>
  <script src="argon/assets/js/listbox-combo-example.js"></script>
  <script src="argon/assets/js/sortPage.js"></script>
  <script src="argon/assets/js/buildFrames.js"></script>

</body>

</html>